.rbc-calendar {
  min-height: 600px;
  /* max-height: 500px; */
}

.rbc-calendar .span.rbc-btn-group {
  display: none;
}

.rbc-event-content {
  font-size: 12px;
}

.rbc-toolbar {
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin-bottom: 0 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #ddd;
  border-bottom: none;
  /* background-color: #f9f9f9; */
}

.rbc-time-view,
.rbc-month-view,
.rbc-agenda-content {
  background-color: #fff;
}

.rbc-calendar .rbc-agenda-content {
  font-size: 0.8em;
}

.rbc-calendar .rbc-agenda-view table tbody > tr > td {
  padding: 5px;
}

.rbc-calendar .rbc-agenda-view table .rbc-agenda-time-cell {
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 600px) {
  .rbc-toolbar {
    flex-direction: column;
  }
}

.tags-container .ant-tag {
  margin-bottom: 8px;
}

.rbc-calendar .rbc-event.category-0,
.ant-tag-magenta.checked {
  background-color: #eb2f96;
  border: 1px solid #eb2f96;
}

.rbc-calendar .rbc-event.category-1,
.ant-tag-red.checked {
  background-color: #f5222d;
  border: 1px solid #f5222d;
}

.rbc-calendar .rbc-event.category-2,
.ant-tag-volcano.checked {
  background-color: #fa541c;
  border: 1px solid #fa541c;
}

.rbc-calendar .rbc-event.category-3,
.ant-tag-orange.checked {
  background-color: #fa8c16;
  border: 1px solid #fa8c16;
}

.rbc-calendar .rbc-event.category-4,
.ant-tag-gold.checked {
  background-color: #faad14;
  border: 1px solid #faad14;
}

.rbc-calendar .rbc-event.category-5,
.ant-tag-lime.checked {
  background-color: #a0d911;
  border: 1px solid;
}

.rbc-calendar .rbc-event.category-6,
.ant-tag-green.checked {
  background-color: #52c41a;
  border: 1px solid;
}

.rbc-calendar .rbc-event.category-7,
.ant-tag-cyan.checked {
  background-color: #13c2c2;
  border: 1px solid;
}

.rbc-calendar .rbc-event.category-8,
.ant-tag-blue.checked {
  background-color: #1890ff;
  border: 1px solid;
}

.rbc-calendar .rbc-event.category-9,
.ant-tag-geekblue.checked {
  background-color: #2f54eb;
  border: 1px solid;
}

.rbc-calendar .rbc-event.category-10,
.ant-tag-purple.checked {
  background-color: #722ed1;
  border: 1px solid;
}

.ant-tag-magenta.checked,
.ant-tag-red.checked,
.ant-tag-volcano.checked,
.ant-tag-orange.checked,
.ant-tag-gold.checked,
.ant-tag-lime.checked,
.ant-tag-green.checked,
.ant-tag-cyan.checked,
.ant-tag-blue.checked,
.ant-tag-geekblue.checked,
.ant-tag-purple.checked {
  color: #fff;
}

button.rbc-active {
  background: #fff !important;
  border-color: #1890ff !important;
  color: #1890ff !important;
  -webkit-box-shadow: -1px 0 0 0 #1890ff;
  box-shadow: -1px 0 0 0 #1890ff;
}
