.rbc-calendar {
  min-height: 600px;
  /* max-height: 500px; */
}

.rbc-calendar .span.rbc-btn-group {
  display: none;
}

.rbc-calendar .rbc-event-content {
  color: #fff;
  font-size: 12px;
}

.ant-layout .rbc-toolbar {
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin-bottom: 0 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #ddd;
  border-bottom: none;
  font-size: 12px;
  /* background-color: #f9f9f9; */
}

.rbc-time-view,
.rbc-month-view,
.rbc-agenda-content {
  background-color: #fff;
}

.rbc-calendar .rbc-agenda-content {
  font-size: 0.8em;
}

.rbc-calendar .rbc-agenda-view table tbody > tr > td {
  padding: 5px;
}

.rbc-calendar .rbc-agenda-view table .rbc-agenda-time-cell {
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 600px) {
  .rbc-toolbar {
    flex-direction: column;
  }
}

.tags-container .ant-tag {
  margin-bottom: 8px;
  border-radius: 0;
}

.rbc-calendar .rbc-event.category-0,
.tags-container .ant-tag-magenta.checked {
  background-color: rgb(127, 114, 167);
}
.tags-container .ant-tag-magenta {
  /* background-color: rgba(127, 114, 167, 0.3);1*/
  color: rgb(127, 114, 167);
  border: 1px solid rgb(127, 114, 167);
}

.tags-container .ant-tag-checkable-checked {
  background-color: #ea3924;
}

.rbc-calendar .rbc-event.category-1,
.tags-container .ant-tag-red.checked {
  background-color: rgb(226, 89, 87);
}
.tags-container .ant-tag-red {
  background-color: rgba(226, 89, 87, 0.1);
  color: rgb(226, 89, 87);
  border: 1px solid rgb(226, 89, 87);
}

.rbc-calendar .rbc-event.category-2,
.tags-container .ant-tag-volcano.checked {
  background-color: rgb(89, 18, 38);
}
.tags-container .ant-tag-volcano {
  background-color: rgba(89, 18, 38, 0.1);
  color: rgb(89, 18, 38);
  border: 1px solid rgb(89, 18, 38);
}

.rbc-calendar .rbc-event.category-3,
.tags-container .ant-tag-orange.checked {
  background-color: rgb(148, 227, 173);
}
.tags-container .ant-tag-orange {
  background-color: rgba(148, 227, 173, 0.1);
  color: rgb(148, 227, 173);
  border: 1px solid rgb(148, 227, 173);
}

.rbc-calendar .rbc-event.category-4,
.tags-container .ant-tag-gold.checked {
  background-color: rgb(246, 113, 26);
}
.tags-container .ant-tag-gold {
  background-color: rgba(246, 113, 26, 0.1);
  color: rgb(246, 113, 26);
  border: 1px solid rgb(246, 113, 26);
}

.rbc-calendar .rbc-event.category-5,
.tags-container .ant-tag-lime.checked {
  background-color: rgb(194, 195, 34);
}
.tags-container .ant-tag-lime {
  background-color: rgba(194, 195, 34, 0.1);
  color: rgb(194, 195, 34);
  border: 1px solid rgb(194, 195, 34);
}

.rbc-calendar .rbc-event.category-6,
.tags-container .ant-tag-green.checked {
  background-color: rgb(111, 148, 98);
}
.tags-container .ant-tag-green {
  background-color: rgba(111, 148, 98, 0.1);
  color: rgb(111, 148, 98);
  border: 1px solid rgb(111, 148, 98);
}

.rbc-calendar .rbc-event.category-7,
.tags-container .ant-tag-cyan.checked {
  background-color: rgb(85, 152, 246);
}
.tags-container .ant-tag-cyan {
  background-color: rgba(85, 152, 246, 0.1);
  color: rgb(85, 152, 246);
  border: 1px solid rgb(85, 152, 246);
}

.rbc-calendar .rbc-event.category-8,
.tags-container .ant-tag-blue.checked {
  background-color: rgb(93, 162, 152);
}
.tags-container .ant-tag-blue {
  background-color: rgba(93, 162, 152, 0.1);
  color: rgb(93, 162, 152);
  border: 1px solid rgb(93, 162, 152);
}

.rbc-calendar .rbc-event.category-9,
.tags-container .ant-tag-geekblue.checked {
  background-color: rgb(236, 166, 104);
}
.tags-container .ant-tag-geekblue {
  background-color: rgba(236, 166, 104, 0.1);
  color: rgb(236, 166, 104);
  border: 1px solid rgb(236, 166, 104);
}

.rbc-calendar .rbc-event.category-10,
.tags-container .ant-tag-purple.checked {
  background-color: rgb(81, 119, 148);
}
.tags-container .ant-tag-purple {
  background-color: rgba(81, 119, 148, 0.1);
  color: rgb(81, 119, 148);
  border: 1px solid rgb(81, 119, 148);
}

.ant-tag-magenta.checked,
.ant-tag-red.checked,
.ant-tag-volcano.checked,
.ant-tag-orange.checked,
.ant-tag-gold.checked,
.ant-tag-lime.checked,
.ant-tag-green.checked,
.ant-tag-cyan.checked,
.ant-tag-blue.checked,
.ant-tag-geekblue.checked,
.ant-tag-purple.checked {
  color: #fff;
}

.rbc-calendar .rbc-event {
  border-radius: 0;
}

.rbc-calendar .rbc-toolbar,
.rbc-calendar .rbc-time-view,
.rbc-calendar .rbc-month-view,
.rbc-calendar .rbc-month-view .rbc-header,
.rbc-calendar .rbc-month-view > .rbc-month-row + .rbc-month-row,
.rbc-calendar .rbc-row-bg > .rbc-day-bg + .rbc-day-bg,
.rbc-calendar .rbc-month-view > .rbc-month-header .rbc-header + .rbc-header,
.rbc-calendar .rbc-month-view .rbc-header,
.rbc-calendar .rbc-time-header > .rbc-row > * + *,
.rbc-calendar .rbc-time-header > .rbc-row:first-child {
  border: none;
  /* border-color: #fbd5d0; */
  border-radius: 0;
}

.rbc-day-bg.rbc-off-range-bg {
  background-color: #fff;
}

.rbc-calendar .rbc-row-bg .rbc-day-bg.rbc-today,
.rbc-calendar .rbc-today {
  background-color: #fff;
  border: 1px solid #ea3924;
}
.rbc-calendar .rbc-time-content > * + * > * {
  border-left: 1px dashed #030303;
}
.rbc-calendar .rbc-timeslot-group {
  border-bottom: 1px solid #030303;
}
.rbc-calendar .rbc-time-content {
  border-top: none;
}

.rbc-toolbar .rbc-btn-group button:active,
.rbc-toolbar .rbc-btn-group button:focus,
.rbc-toolbar .rbc-btn-group button:hover,
.rbc-toolbar .rbc-btn-group button.rbc-active,
.rbc-toolbar .rbc-btn-group button.rbc-active:focus,
.rbc-toolbar .rbc-btn-group button.rbc-active:active {
  outline: none;
  background-color: #fbd5d0;
  color: #ea3924;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

.rbc-toolbar .rbc-btn-group button {
  cursor: pointer;
  color: #ea3924;
  background-color: #fff;
  text-transform: uppercase;
  font-style: italic;
  border: none;
}

.rbc-toolbar .rbc-btn-group + .rbc-toolbar-label {
  text-transform: uppercase;
  color: #ea3924;
  font-weight: 700;
  font-size: 16px;
}

.rbc-calendar .rbc-date-cell > a {
  font-weight: 700;
}
