h1 {
	font-size: 28px;
}


#render-target {
	background-color: #f0f2f5;
}

.layout {
	max-width: 1200px;
	margin: 0 auto;
}

.ant-layout-header {
	background-color: #fff;
}

.rbc-calendar {
  min-height: 300px;
  /* max-height: 500px; */
}

@media (max-width: 600px) {
	.rbc-toolbar {
		flex-direction: column;
	}
}

.rbc-toolbar {
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
	margin-bottom: 0 !important;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #DDD;
	border-bottom: none;
	/* background-color: #f9f9f9; */
}

.rbc-time-view, .rbc-month-view, .rbc-agenda-content {
	background-color: #fff;
}

button.rbc-active {
	background: #fff !important;
	border-color: #1890ff !important;
	color: #1890ff !important;
	-webkit-box-shadow: -1px 0 0 0 #1890ff;
	box-shadow: -1px 0 0 0 #1890ff;
}

.ant-list .ant-card {
	margin-bottom: 24px;
}

.ant-list .ant-list-item-extra {
	overflow: hidden;
}

.ant-card .ant-card-meta-description {
	color: rgba(0, 0, 0, .65);
}

.ant-card .ant-card-head-title {
	white-space: inherit;
}

@media (max-width: 480px) {
	h1 {
		font-size: 22px;
	}
}