@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

body {
  min-height: 101vh;
  margin: 0;
}

#main-viewport {
  height: 100%;
  width: calc(100% - 72px);
  /* font-family: 'Raleway', sans-serif; */
}

@media (max-width: 960px) {
  #main-viewport {
    width: 100%;
  }
}

.logo {
  max-width: 220px;
  max-height: 80px;
}

.smaller-logo.logo {
  max-height: 48px;
}

@media (max-width: 460px) {
  .logo {
    max-width: 120px;
  }
}

.is-terms-page h1,
.is-terms-page h2,
.is-terms-page h3 {
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.is-terms-page h1:nth-of-type(1) {
  margin-top: 0;
}

.is-terms-page h1 {
  font-size: 2em;
}

.is-terms-page h2 {
  font-size: 1.6em;
}

.is-terms-page h3 {
  font-size: 1.2em;
}

.sortableHelper {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  font-family: 'sans-serif';
  cursor: grab;
}

.sortable-thumb {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1c1c1c;
}

.sortable-thumb:hover {
  cursor: grab;
}

.sortable-thumb-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
}

a,
.text-content a {
  /* color: #06c; */
  text-decoration: none;
}

.hoverable:hover {
  background-color: rgb(248, 248, 248);
}

.text-content p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0.9em;
}

.text-content li {
  margin: 0.5em 1em;
}

.react-slideshow-container .nav.default-nav {
  margin: 12px;
  padding: 6px;
}

.text-link-container:hover .text-link {
  text-decoration: underline;
}

input::placeholder {
  color: rgba(40, 40, 40, 0.6);
}

.chakra-modal__content-container {
  z-index: 1405 !important;
}

.menu-drawer {
  width: 72px;
  transition: all 0.2s ease-in-out;
}

.menu-drawer.menu-drawer--open {
  width: 300px;
  transition: all 0.2s ease-in-out;
}

/* Sexy Thumb */

.thumb-cover-container {
  height: 315px;
  width: 375px;
}

.thumb-cover-container:hover .thumb-cover {
  filter: brightness(70%);
}

.thumb-cover-child-lazy-image {
  width: 30px;
}

.thumb-cover {
  position: absolute;
  filter: brightness(50%);
  transition: all ease-in-out 200ms;
}

.cover-highlight-title {
  background-color: rgba(234, 57, 36, 0.9);
}

.thumb-title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 6px;
  line-height: 32px;
  overflow-wrap: anywhere;
  font-weight: bold;
}

.thumb-subtitle {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
}

.chakra-input,
.chakra-select,
.chakra-numberinput__field,
.chakra-textarea {
  background-color: #fff !important;
}

.chakra-input:hover,
.chakra-select:hover,
.chakra-numberinput__field:hover,
.chakra-textarea:hover {
  background-color: #f7f7f7 !important;
}
