@import './bigcalendar-custom.css';
@import './quilleditor-custom.css';

body {
  min-height: 101vh;
  margin: 0;
}

.main-viewport {
  /* background-image: url('https://s3.eu-central-1.amazonaws.com/pomegra-profile-images/web+background+glitch+drawing+layered.svg'); */
  background-repeat: no-repeat;
  background-position: top;
  background-color: #fff;
  background-size: 100%;
}

.ant-list .ant-list-item-meta {
  align-items: center;
}

.ant-card .ant-card-meta-description {
  color: rgba(0, 0, 0, 0.65);
  white-space: pre-line;
}

.login-link-and-dropdown-list > #login-dropdown-list {
  right: -1px;
  left: auto;
}

#login-username-or-email-label-and-input,
#login-password-label-and-input,
#login-username-label-and-input,
#login-email-label-and-input,
#forgot-password-email-label-and-input {
  display: flex;
  flex-direction: column;
}

li.ant-menu-item span {
  display: block;
}

#login-buttons {
  display: block;
  line-height: inherit;
}

#login-sign-in-link {
  display: block;
}

.addSpace-modal .ant-modal-footer {
  display: none;
}

p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
}

.sortableHelper {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.sortable-thumb:hover {
  cursor: grab;
}
