@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;700&display=swap');

body {
  min-height: 101vh;
  margin: 0;
}

#main-viewport {
  height: 100%;
  width: calc(100% - 72px);
}

@media (max-width: 960px) {
  #main-viewport {
    width: 100%;
  }
}

.logo {
  max-width: 280px;
  max-height: 120px;
}

.smaller-logo.logo {
  max-height: 48px;
}

@media (max-width: 460px) {
  .logo {
    max-width: 180px;
  }
}

.is-terms-page h1,
.is-terms-page h2,
.is-terms-page h3 {
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.is-terms-page h1:nth-of-type(1) {
  margin-top: 0;
}

.is-terms-page h1 {
  font-size: 2em;
}

.is-terms-page h2 {
  font-size: 1.6em;
}

.is-terms-page h3 {
  font-size: 1.2em;
}

.sortableHelper {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  font-family: 'sans-serif';
  cursor: grab;
}

.sortable-thumb {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1c1c1c;
}

.sortable-thumb:hover {
  cursor: grab;
}

.sortable-thumb-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
}

a,
.text-content a {
  color: var(--chakra-colors-brand-500);
  text-decoration: none;
}

.platform-footer a,
.platform-footer .text-content a {
  color: var(--chakra-colors-brand-100);
}

.hoverable:hover {
  background-color: rgb(248, 248, 248);
}

.text-content p {
  /* color: rgba(0, 0, 0, 0.85); */
  font-size: 1.05em;
  line-height: 1.4;
  margin-bottom: 0.8em;
  white-space: pre-line;
}

.text-content li {
  margin: 0.5em 1em;
}

.react-slideshow-container .nav.default-nav {
  margin: 12px;
  padding: 6px;
}

.text-link-container:hover .text-link {
  text-decoration: underline;
}

input::placeholder {
  color: rgba(40, 40, 40, 0.6);
}

.chakra-modal__content-container {
  z-index: 1405 !important;
}

.menu-drawer {
  width: 72px;
  transition: all 0.2s ease-in-out;
}

.menu-drawer.menu-drawer--open {
  width: 300px;
  transition: all 0.2s ease-in-out;
}

/* Sexy Thumb */

.thumb-cover-container {
  height: 315px;
  position: relative;
  width: 100%;
}

.thumb-cover-container:hover .thumb-cover {
  filter: brightness(70%);
}

.thumb-cover-child-lazy-image {
  width: 30px;
}

.thumb-cover {
  width: 100%;
  filter: brightness(50%);
  transition: all ease-in-out 200ms;
}

.thumb-text-container {
  font-family: Raleway, sans-serif;
  height: 100%;
  padding: 24px 16px;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
}

.lazy-load-image-background {
  width: 100%;
}

.sexy-thumb-container {
  cursor: pointer;
  flex: 1 1 355px;
  max-width: 550px;
}

.cover-highlight-title {
  background-color: rgba(234, 57, 36, 0.9);
}

.thumb-title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 6px;
  line-height: 32px;
  overflow-wrap: anywhere;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.thumb-subtitle {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
}

.chakra-input,
.chakra-select,
.chakra-numberinput__field,
.chakra-checkbox__control:not([data-checked]),
.chakra-textarea {
  background-color: #fff !important;
}

.chakra-input:hover,
.chakra-select:hover,
.chakra-numberinput__field:hover,
.chakra-textarea:hover {
  background-color: #f7f7f7 !important;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  flex-wrap: wrap;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

.chakra-switch__track {
  margin-right: 8px;
  border: 1px solid #464646;
}

.ant-select-dropdown {
  box-shadow: none;
  border-radius: 0;
}

ul.ant-cascader-menu {
  border-radius: 0;
  border: 1px solid;
  border-color: var(--chakra-colors-brand-500);
  overflow-y: visible;
  width: 150px;
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 0;
  border: 1px solid;
}

ul.ant-cascader-menu,
.show-thumb {
  overflow-y: auto;
  line-height: 1em;
}

ul.ant-cascader-menu::-webkit-scrollbar,
.show-thumb {
  -webkit-appearance: none;
}

ul.ant-cascader-menu::-webkit-scrollbar:vertical,
.show-thumb {
  width: 11px;
}

ul.ant-cascader-menu::-webkit-scrollbar:horizontal,
.show-thumb {
  height: 11px;
}

ul.ant-cascader-menu::-webkit-scrollbar-thumb,
.show-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}
