@import 'bigcalendar-custom.css';

.main-viewport {
  /* background-image: url('https://s3.eu-central-1.amazonaws.com/pomegra-profile-images/web+background+glitch+drawing+layered.svg'); */
  background-repeat: no-repeat;
  background-position: top;
  background-color: #fff;
  background-size: 100%;
  padding-bottom: 240px;
}

h1 {
  font-size: 28px;
}

.logo {
  width: 180px;
  height: 60px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 600px) {
  .logo {
    width: 50px;
    height: 54px;
  }
}

.skogen-logo {
  /* background-image: url('/logo-circles.png'); */
  background-repeat: no-repeat;
}

.header-container {
  width: 100%;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
}

.ant-row.header-background {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  max-width: 1200px;
  padding: 24px;
}

.layout.ant-layout {
  background-color: #fff;
  /* border: 1px solid #030303; */
}

.ant-layout .ant-layout-footer {
  background: none;
}

.layout.ant-layout .ant-layout-header {
  padding: 0 24px;
}

.center-that {
  display: flex;
  justify-content: center;
}

.ant-list .ant-card {
  margin-bottom: 24px;
}

.ant-list .ant-list-item-extra {
  overflow: hidden;
}

.ant-list .ant-list-item-meta {
  align-items: center;
}

.ant-card .ant-card-meta-description {
  color: rgba(0, 0, 0, 0.65);
  white-space: pre-line;
}

.ant-card .ant-card-head-title {
  white-space: inherit;
}

@media (max-width: 480px) {
  h1 {
    font-size: 22px;
    line-height: 26px;
  }
}

.bold-font {
  font-weight: bold;
}

/* .upload-image-col .ant-form-item-label label:before {
  display: inline-block;
  margin-right: 4px;
  content: "*";
  font-family: SimSun;
  line-height: 1;
  font-size: 14px;
  color: #f5222d;
} */

textarea#longDescription.ant-input {
  min-height: 240px;
}

.login-link-and-dropdown-list > #login-dropdown-list {
  right: -1px;
  left: auto;
}

#login-username-or-email-label-and-input,
#login-password-label-and-input,
#login-username-label-and-input,
#login-email-label-and-input,
#forgot-password-email-label-and-input {
  display: flex;
  flex-direction: column;
}

/* li.ant-menu-item {
	color: #2e3880;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
  letter-spacing: -0.2px;
}
 */
.ant-menu-horizontal > li.ant-menu-item > a,
.ant-menu-horizontal > .ant-menu-submenu > a {
  color: #2e3880;
}

li.ant-menu-item span {
  display: block;
}

#login-buttons {
  display: block;
  line-height: inherit;
}

#login-sign-in-link {
  display: block;
}

.addSpace-modal .ant-modal-footer {
  display: none;
}
