@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

::selection {
  background-color: #ea3924 !important;
}

::-moz-selection {
  background-color: #ea3924 !important;
}

*,
html,
#render-target,
.word-break,
body .ant-input,
.tags-container .ant-tag {
  font-family: 'Roboto', sans-serif;
  /* color: #030303; */
  word-break: break-word;
}

body a {
  color: #ea3924;
}

body a:hover {
  color: #ad2539;
}

.main-viewport .layout.ant-layout {
  border-top: none;
  background-color: #fff;
}

.ant-layout h1 {
  letter-spacing: -0.5px;
}

.ant-layout h1,
.ant-modal-wrap h1,
.ant-layout h2,
.ant-modal-wrap h2,
.ant-layout h3,
.ant-modal-wrap h3,
.ant-layout h4,
.ant-modal-wrap h4,
.ant-layout h5,
.ant-modal-wrap h5,
.ant-layout h6,
.ant-modal-wrap h6,
.ant-modal-body .ant-confirm-body .ant-confirm-title {
  text-transform: uppercase;
  font-weight: 700;
}

button.ant-btn,
a.ant-btn,
label.ant-radio-button-wrapper,
label.ant-radio-button-wrapper:first-child,
label.ant-radio-button-wrapper:last-child {
  color: #030303;
  background-color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  border: 1px solid #fbd5d0;
}
label.ant-radio-button-wrapper:first-child {
  border-right: none;
}
label.ant-radio-button-wrapper:last-child {
  border-left: none;
}

button.ant-btn:hover,
button.ant-btn:focus,
a.ant-btn:hover,
a.ant-btn:focus {
  background-color: #ea3924;
  color: #fbd5d0;
  border: 1px solid #fbd5d0;
}

button.ant-btn.ant-btn-primary,
.ant-radio-button-wrapper-checked {
  background-color: #fbd5d0;
  border: none;
  text-shadow: 0.5px 0.5px 0 #fff;
}
button.ant-btn.ant-btn-primary:hover,
button.ant-btn.ant-btn-primary:focus {
  background-color: #ea3924;
  color: #fbd5d0;
  border: none;
}

body .ant-input,
body input.ant-input-number-input,
body input.ant-time-picker-input,
body .ant-select > .ant-select-selection,
body textarea.ant-input {
  border: 1px solid #030303;
  border-radius: 0;
  color: #030303;
}
body .ant-input:focus,
body .ant-input:hover,
body .ant-time-picker-input:hover,
body .ant-time-picker-input:focus,
body .ant-input-number-input:hover,
body .ant-input-number-input:focus,
body .ant-select-selection:hover,
body .ant-select-selection:focus {
  border-color: #797979;
  box-shadow: 0 0 0 2px rgba(251, 213, 208, 0.5);
}

.ant-layout .ant-switch {
  border: 1px solid #030303;
  border-radius: 0;
  background-color: #fff;
}
.ant-layout .ant-switch:after {
  background-color: #030303;
}
.ant-layout .ant-switch.ant-switch-checked {
  background-color: #fbd5d0;
}

.ant-form-item button.ant-btn {
  border-color: #030303;
}

.ant-list.ant-list-bordered {
  border-radius: 0;
  border-color: #030303;
}

.ant-card.ant-card-bordered {
  border: 1px solid #030303;
  border-radius: 0;
}

.ant-card.ant-card-hoverable:hover {
  box-shadow: none;
  border-color: #0a0a0a;
  border-width: 2px;
}

.ant-card .ant-card-head {
  /* padding: 0; */
  border-bottom: none;
}

.ant-card .ant-card-cover {
  padding: 0 24px;
}

.ant-card .ant-card-cover img {
  border-radius: 0;
}

.ant-card .ant-card-meta .ant-card-meta-description,
.ant-list-item,
.ant-list-item-content,
.ant-modal-close,
.anticon,
p,
body {
  color: #030303;
}

.ant-popover-content .ant-popover-inner {
  border-radius: 0;
  border: 1px solid #030303;
}

.ant-popover-arrow {
  border-top: 1px solid #030303;
  border-left: 1px solid #030303;
}

.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-bottomLeft > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow {
  top: 7px;
}

.ant-alert.ant-alert-info,
.ant-alert.ant-alert-warning,
.ant-alert.ant-alert-success,
.ant-alert.ant-alert-error {
  border-radius: 0;
  border: 1px solid #030303;
  padding: 12px 16px 12px 40px;
  color: #030303;
}

.empty-card-body.ant-card > .ant-card-body {
  padding: 0;
  color: #030303;
}

/* .rbc-calendar .rbc-event {
  border: 1px solid #030300;
} */

.ant-modal .ant-modal-content {
  border: 1px solid #030303;
  border-radius: 0;
}

.ant-modal .ant-modal-content .ant-confirm-body .ant-confirm-content {
  color: #030303;
}

.main-viewport .skogen-menu-layout {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 12px;
  flex-wrap: wrap;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #030303;
  border-bottom: none;
  max-width: 1200px;
  margin: 0 auto;
}

.skogen-menu-layout > a > b {
  color: #ea3924;
}

.skogen-menu-layout > a {
  padding: 6px 12px;
}

.thumb-cover {
  filter: brightness(50%);
  transition: all ease-in-out 200ms;
}

.thumb-cover-container {
  position: relative;
  flex: 288px 0 0;
  height: 288px;
  width: 288px;
}

.thumb-cover-container-event {
  border: 5px solid #ea3924;
}

.cover-highlight-title {
  background-color: rgba(234, 57, 36, 0.9);
}

.thumb-cover-container:hover .thumb-cover {
  filter: brightness(70%);
}

.toggleable {
  padding: 12px;
  margin: 12px;
  border: 1px solid #030303;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.toggleable:hover {
  background-color: #f8f8f8;
}
.toggleable:focus,
.toggleable:active {
  background-color: #f8f8f8;
  border-width: 2px;
}

.scrollable-container {
  -webkit-overflow-scrolling: touch;
}
