@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

.ant-layout {
  background-color: #fff;
}

h1 {
  letter-spacing: -0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

button.ant-btn,
a.ant-btn,
label.ant-radio-button-wrapper,
label.ant-radio-button-wrapper:first-child,
label.ant-radio-button-wrapper:last-child {
  color: #ea3924;
  background-color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  border: 1px solid #fbd5d0;
}
label.ant-radio-button-wrapper:first-child {
  border-right: none;
}
label.ant-radio-button-wrapper:last-child {
  border-left: none;
}

button.ant-btn:hover,
button.ant-btn:focus,
a.ant-btn:hover,
a.ant-btn:focus {
  background-color: #ea3924;
  color: #fbd5d0;
  border: 1px solid #fbd5d0;
}

button.ant-btn.ant-btn-primary,
.ant-radio-button-wrapper-checked {
  background-color: #fbd5d0;
  border: none;
  text-shadow: 0.5px 0.5px 0 #fff;
}
button.ant-btn.ant-btn-primary:hover,
button.ant-btn.ant-btn-primary:focus {
  background-color: #ea3924;
  color: #fbd5d0;
  border: none;
}

input.ant-input,
input.ant-input-number-input,
input.ant-time-picker-input,
.ant-select > .ant-select-selection,
textarea.ant-input {
  border: 1px solid #030303;
  border-radius: 0;
}
.ant-input:focus,
.ant-input:hover,
.ant-time-picker-input:hover,
.ant-time-picker-input:focus,
.ant-input-number-input:hover,
.ant-input-number-input:focus,
.ant-select-selection:hover,
.ant-select-selection:focus {
  border-color: #797979;
}

.ant-switch {
  border: 1px solid #030303;
  border-radius: 0;
  background-color: #fff;
}
.ant-switch:after {
  background-color: #030303;
}
.ant-switch.ant-switch-checked {
  background-color: #fbd5d0;
}

.ant-form-item button.ant-btn {
  border-color: #030303;
}

.ant-list.ant-list-bordered {
  border-radius: 0;
  border-color: #030303;
}

.ant-card.ant-card-bordered {
  border: 1px solid #030303;
  border-radius: 0;
}

.ant-card.ant-card-hoverable:hover {
  box-shadow: none;
  border-color: #0a0a0a;
  border-width: 2px;
}

.ant-card .ant-card-head {
  border-bottom: none;
}

.ant-card .ant-card-cover {
  padding: 24px;
}

.ant-card .ant-card-cover img {
  border-radius: 0;
}

.ant-card .ant-card-meta .ant-card-meta-description,
.ant-list-item,
.ant-list-item-content,
.ant-modal-close,
.anticon,
p,
body {
  color: #030303;
}

.ant-popover-content .ant-popover-inner {
  border-radius: 0;
  border: 1px solid #030303;
}

.ant-popover-arrow {
  border-top: 1px solid #030303;
  border-left: 1px solid #030303;
}

.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-bottomLeft > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow {
  top: 7px;
}

.ant-alert.ant-alert-info,
.ant-alert.ant-alert-warning,
.ant-alert.ant-alert-success,
.ant-alert.ant-alert-error {
  border-radius: 0;
  border: 1px solid #030303;
  padding: 12px 16px 12px 40px;
  color: #030303;
}

/* .rbc-calendar .rbc-event {
  border: 1px solid #030300;
} */

.ant-modal .ant-modal-content {
  border: 1px solid #030303;
  border-radius: 0;
}

.ant-modal .ant-modal-content .ant-confirm-body .ant-confirm-content {
  color: #030303;
}
