.chattery-window-container {
  width: 100%;
  float: none;
}

.chattery-window {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  max-height: 70vh;
  min-height: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chattery-inputform-container {
  padding: 12px;
  background-color: #fff;
}

.chattery-inputform {
  display: flex;
}

.chattery-input {
  min-height: 96px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  flex-grow: 1;
}

.chattery-input:focus {
  border: 1px solid cornflowerblue;
  outline: 0;
}

.chattery-submitbutton {
  width: 60px;
  height: 38px;
  margin-left: 8px;
  border: 1px solid #888;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  flex-basis: 60px;
}

.talk-bubble-container {
  position: relative;
  width: 100%;
}

.talk-bubble.right-in {
  float: right;
}

.talk-bubble.left-in {
  float: left;
}

/* container */
.container {
  padding: 5% 5%;
}

/* CSS talk bubble */
.talk-bubble {
  margin: 10px 20px;
  display: inline-block;
  position: relative;
  width: 80%;
  height: auto;
  background-color: #fff;
}
.border {
  border: 8px solid #666;
}
.round {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -12px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #fff transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -12px;
  right: auto;
  top: 10px;
  bottom: auto;
  border: 12px solid;
  border-color: #fff #fff transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent #fff;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: #fff transparent transparent #fff;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: #fff #fff transparent transparent;
}
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent #fff;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: #fff #fff transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -12px;
  top: 10px;
  bottom: auto;
  border: 12px solid;
  border-color: #fff transparent transparent #fff;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -12px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: #fff transparent transparent transparent;
}

/* talk bubble contents */
.talktext {
  color: #010101;
  padding: 0.5em 1em;
  text-align: left;
  line-height: 16px;
}
.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  white-space: pre-line;
}

.talktext-senderinfo {
  font-size: 0.8em;
  color: darkslategrey;
  font-weight: bold;
}

.talktext-dateinfo {
  font-size: 0.7em;
  color: grey;
  text-align: right;
}

/* width */
.chattery-window::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.chattery-window::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.chattery-window::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.chattery-window::-webkit-scrollbar-thumb:hover {
  background: #555;
}
