.rbc-calendar {
  min-height: 800px;
}

.rbc-calendar .rbc-event-content,
.rbc-calendar .rbc-agenda-date-cell,
.rbc-calendar .rbc-agenda-time-cell,
.rbc-calendar .rbc-agenda-event-cell {
  color: #fff;
  font-size: 13px;
}

.rbc-time-view,
.rbc-month-view,
.rbc-agenda-content {
  background-color: transparent;
}

@media (max-width: 600px) {
  .rbc-toolbar {
    flex-direction: column;
  }
}

.rbc-calendar .rbc-event {
  border-radius: 0;
}

.rbc-calendar .rbc-toolbar,
.rbc-calendar .rbc-time-view,
.rbc-calendar .rbc-month-view,
.rbc-calendar .rbc-month-view .rbc-header,
.rbc-calendar .rbc-month-view > .rbc-month-row + .rbc-month-row,
.rbc-calendar .rbc-row-bg > .rbc-day-bg + .rbc-day-bg,
.rbc-calendar .rbc-month-view > .rbc-month-header .rbc-header + .rbc-header,
.rbc-calendar .rbc-month-view .rbc-header,
.rbc-calendar .rbc-time-header > .rbc-row > * + *,
.rbc-calendar .rbc-time-header > .rbc-row:first-child {
  /* border: none; */
  border-color: #d7d7d7;
  border-radius: 0;
}

.rbc-day-bg.rbc-off-range-bg {
  background-color: transparent;
}

.rbc-day-bg:not(rbc-off-range-bg) {
  background-color: #f5f5f5;
}

.rbc-day-bg.rbc-selected-cell:not(rbc-off-range-bg) {
  background-color: #fff;
}

.rbc-calendar .rbc-row-bg .rbc-day-bg.rbc-today,
.rbc-calendar .rbc-today {
  background-color: #f7f7f7;
  border: 1px solid #2d2d2d;
}
.rbc-calendar .rbc-time-content > * + * > * {
  border-left: 1px dashed #2d2d2d;
}
.rbc-calendar .rbc-timeslot-group {
  border-bottom: 1px solid #2d2d2d;
}
.rbc-calendar .rbc-time-content {
  border-top: none;
}

.rbc-toolbar .rbc-btn-group button.rbc-active {
  outline: none;
  background-color: #2d2d2d;
  color: #f6f6f6;
  /* color: #ea3924; */
  border: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: bold;
}

.rbc-toolbar .rbc-btn-group button:hover {
  background-color: #5d5d5d;
  color: #f6f6f6;
}

.rbc-toolbar .rbc-btn-group button {
  cursor: pointer;
  background-color: #fff;
  border: none;
}

.rbc-toolbar .rbc-btn-group + .rbc-toolbar-label {
  text-transform: uppercase;
  /* color: #ea3924; */
  font-weight: 700;
  font-size: 20px;
}
