.ql-container .ql-editor {
  min-height: 18em;
}

.ql-container .ql-editor {
  p,
  li,
  blockquote {
    line-height: 1.5;
    margin-bottom: 1em;
    font-size: 16px;
    font-family: var(--cocoso-body-font-family);
  }
}

.quill > .ql-toolbar.ql-snow {
  border: none;
}

.quill-megacontainer .ql-container.ql-snow {
  border: none;
}

.quill-megacontainer .ql-container.ql-snow .ql-editor {
  background-color: #fff;
  border-color: var(--cocoso-colors-theme-200);
  border-radius: var(--cocoso-border-radius);
  border-style: solid;
  border-width: 2px;
}

.quill-megacontainer .ql-container.ql-snow .ql-editor {
  transition: all 0.2s;
}

.quill-megacontainer:not(.is-focused) .ql-container.ql-snow .ql-editor:hover {
  background-color: #fff;
  border-color: var(--cocoso-colors-theme-300);
}

.quill-megacontainer:focus-within .ql-container.ql-snow .ql-editor,
.quill-megacontainer.is-focused .ql-container.ql-snow .ql-editor {
  border-color: var(--cocoso-colors-theme-400);
}

.quill.ql-editor-text-align-center .ql-editor {
  text-align: center;
}
