.ql-container .ql-editor {
  min-height: 18em;
}

.ql-container .ql-editor {
  p,
  li,
  blockquote {
    line-height: 1.5;
    margin-bottom: 1em;
    font-size: 16px;
    font-family: 'Sarabun', sans-serif;
  }
}

.quill > .ql-toolbar.ql-snow {
  border: none;
}

.quill-megacontainer .ql-container.ql-snow {
  border: none;
}

.quill-megacontainer .ql-container.ql-snow .ql-editor {
  background-color: #fff;
  border-width: 2px;
  border-color: var(--chakra-colors-gray-300);
  border-radius: 8px;
}

.quill-megacontainer .ql-container.ql-snow .ql-editor {
  transition: all 0.2s;
}

.quill-megacontainer:not(.is-focused) .ql-container.ql-snow .ql-editor:hover {
  background-color: #fff;
  border-color: var(--chakra-colors-gray-500);
}

.quill-megacontainer.is-focused .ql-container.ql-snow .ql-editor {
  border-color: var(--chakra-colors-gray-600);
}

.quill.ql-editor-text-align-center .ql-editor {
  text-align: center;
}
