.quill .ql-container.ql-snow {
  background-color: rgb(245, 245, 245);
}

.ql-container .ql-editor {
  min-height: 18em;
}

.ql-container .ql-editor p {
  line-height: 1.5;
  margin-bottom: 1em;
  font-size: 16px;
  font-family: 'Sarabun', sans-serif;
}

.quill > .ql-toolbar.ql-snow {
  border-color: rgb(245, 245, 245);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.quill > .ql-container.ql-snow {
  border-color: rgb(245, 245, 245);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
