.quill .ql-container.ql-snow {
  background-color: #fff;
}

.ql-container .ql-editor {
  min-height: 18em;
}

.ql-container .ql-editor p {
  line-height: 1.5;
  margin-bottom: 1em;
  font-size: 16px;
  font-family: 'Sarabun', sans-serif;
}

.quill > .ql-toolbar.ql-snow {
  border-color: rgb(245, 245, 245);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.quill-megacontainer .ql-container.ql-snow {
  border-color: rgb(245, 245, 245);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.quill-megacontainer .ql-container.ql-snow .ql-editor {
  border-width: 2px;
  border-color: #f5f5f5;
}

.quill-megacontainer.is-focused .ql-container.ql-snow .ql-editor {
  background: #fff;
  border-color: #3182ce;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.quill-megacontainer .ql-container.ql-snow .ql-editor {
  transition: all 0.2s;
}

.quill-megacontainer:not(.is-focused) .ql-container.ql-snow .ql-editor:hover {
  background-color: #fff;
  border-color: #fff;
}
